@import "../../App.scss";

.advantages {
  &__heading {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

    h2 {
      padding-bottom: 2rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 3rem 0 4rem;
  }

  &__items {
    &__item {
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 5rem;
      padding: 5rem 2.5rem;
      border-radius: 50px;
      position: relative;
      top: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        top: -10px;
        transition: all 0.2s ease-in-out;
      }

      @media all and (max-width: $breakpoint-tablet) {
        align-items: flex-start;
        padding: 4rem 2rem;
        flex-direction: column;
        gap: 1rem;
      }

      &:first-child {
        background: $card-orange-bg;

        button {
          display: none;
        }
      }

      &:nth-of-type(2) {
        background: $card-green-bg;

        button {
          display: none;
        }
      }

      &:last-child {
        background: $card-purple-bg;

        .advantages__items__item__content__icon {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      &__content {
        flex: 1;
        max-width: 800px;
        margin-bottom: auto;

        h2,
        p {
          color: $color-white;
        }

        h2 {
          max-width: 600px;
          padding-bottom: 1.5rem;

          @media all and (max-width: $breakpoint-tablet) {
            padding-bottom: 1rem;
          }
        }

        p {
          padding-bottom: 3rem;

          @media all and (max-width: $breakpoint-tablet) {
            padding-bottom: 1.5rem;
          }
        }

        &__icon {
          padding: 12px;
          display: flex;
          align-items: center;
          gap: 20px;
          border-radius: 20px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          width: fit-content;

          p {
            padding-bottom: 0;
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      &__image {
        flex: 0.75;
        margin: 0 -2.6rem -5.4rem 0;

        @media all and (max-width: $breakpoint-tablet) {
          margin-left: auto;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
